.buttonAnimated:hover{
    cursor: crosshair;
    transform: scale(1.1 ,1.1);
    transition: 0.3s;
}

.backscreen{
    cursor: crosshair;
}

.Kindergarten {
    font-family: "Kindergarten";
}

.titleAnim{
    animation :  titleanim infinite 0.7s ;
}

.footer{
    color : whitesmoke;
    background-color: rgb(176, 0, 129);
    position: absolute;
    bottom: 0%;
    left: auto;
    right: auto;
}

.noGutter {
    padding-right: 0;
    padding-left: 0;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }

.pop{
    z-index: 5;
    position: fixed;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}

@keyframes titleanim {
    0% {transform : scale(1,1);}
    50%{transform : scale(0.95,0.95) translate(0,2%)
        }
    100%{transform : scale(1,1) translate(0,2%);}
    }