.buttonAnimated:hover{
    cursor: crosshair;
    transform: scale(1.1 ,1.1);
    transition: 0.3s;
}

.backscreen{
    cursor: crosshair;
}

.Kindergarten {
    font-family: "Kindergarten";
}

.titleAnim{
    animation :  titleanim infinite 0.7s ;
}

@keyframes titleanim {
    0% {transform : scale(1,1);}
    50%{transform : scale(0.95,0.95) translate(0,2%)
        }
    100%{transform : scale(1,1) translate(0,2%);}
    }